<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Experience</title>
    <%- include('../partials/header.ejs')%>
</head>

<body>
    <%- include('../partials/nav.ejs')%>
        
        <div class="row center">
            <h1>Post Your Experience</h1>
        </div>
        
        <div class="flex-col dark container">
            <form action="/session/add" method="POST" id="addForm">
                <!-- name -->
                <div class="flex-row">
                    <div class="half">
                        <h3>Title</h3>
                    </div>
                    <div class="half">
                        <input type="text" name="title">
                    </div>
                </div>
                <!-- Image -->
                <div class="flex-row">
                    <div class="half">
                        <h3>Add Img URL:</h3>
                    </div>
                    <div class="half">
                        <input type="text" name="img">
                    </div>
                </div>
                <!-- place -->
                <div class="flex-row">
                    <div class="half">
                        <h3>Locations:</h3>
                    </div>
                    <div class="half">
                        <input type="text" name="location">
                    </div>
                </div>
                <!-- People -->
                <div class="flex-row">
                    <div class="half">
                        <h3>Friends:</h3>
                    </div>
                    <div class="half">
                        <input type="text" name="people">
                    </div>
                </div>
                <!-- Activites -->
                <div class="flex-row">
                    <div class="half">
                        <h3>Activities:</h3>
                    </div>
                    <div class="half">
                        <input type="text" name="important">
                    </div>
                </div>
                <!-- story-->
                <div class="flex-row">
                    <div class="half">
                        <h3>Tell a Story:</h3>
                    </div>
                    <div class="half">
                        <textarea name="story" form="addForm"></textarea>
                    </div>
                </div>
                <!--End  -->
                <input type="submit" value="Share Experience">
            </form>
        
        </div>
</body>

</html>