<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Story</title>
</head>
<body>
    <div class="flex-row">
        <h1>Edit Your Story</h1>
    </div>

    
    <div class="flex-col container">
        
        <form action="/session/edit" method="POST">
            <!-- name -->
            <div class="flex-row">
                <div class="half">
                    <p>Title:</p>
                </div>
                <div class="half">
                    <input type="text" name="title">
                </div>
            </div>
            <!-- place -->
            <div class="flex-row">
                <div class="half">
                    <p>Places:</p>
                </div>
                <div class="half"> 
                    <input type="text" name="location">
                </div>
            </div>
            <!-- People -->
            <div class="flex-row">
                <div class="half">
                    <p>Friends:</p>
                </div>
                <div class="half">
                    <input type="text" name="people">
                </div>
            </div>
            <!-- Activites -->
            <div class="flex-row">
                <div class="half">
                    Activites:
                </div>
                <div class="half">
                    <input type="text" name="important">
                </div>
            </div>
            <!-- story-->
            <div class="flex-row">
                <div class="half">
                    Tell a Story:
                </div>
                <div class="half">
                <textarea name="story" form="addForm"></textarea>
                </div>
            </div>
             <!--End  -->
            <input type="submit" value="Share Experience">
        </form>
    </div>
</body>
</html>