<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <%- include('../partials/header.ejs')%>
</head>
<body>
    <div class="flex-col header">
        <h1>Login Page</h1>
        <a href="/" class="btn">Return Home</a>
    </div>

    <div class="flex-col container">
        <form action="/session" method="POST">
            <!-- name -->
            <div class="flex-row">
                <div class="half">
                    <p>Username:</p>
                </div>
                <div class="half">
                    <input type="text" name="username">
                </div>
            </div>
            <!-- place -->
            <div class="flex-row">
                <div class="half">
                    <p>Password:</p>
                </div>
                <div class="half"> 
                    <input type="text" name="password">
                </div>
            </div>
           
             <!--End  -->
             <div class="flex-row">
                 <input type="submit" value="Login">
             </div>
        </form>
    </div>
</body>
</html>