<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
<body>
    <div>
        <h1>Login Page</h1>
    </div>

    <div>
        
        <form action="/session" method="POST">
            <!-- name -->
            <div class="flex-row">
                <div class="half">
                    <p>Username:</p>
                </div>
                <div class="half">
                    <input type="text" name="username">
                </div>
            </div>
            <!-- place -->
            <div class="flex-row">
                <div class="half">
                    <p>Password:</p>
                </div>
                <div class="half"> 
                    <input type="text" name="password">
                </div>
            </div>
           
             <!--End  -->
            <input type="submit" value="Login">
        </form>
    </div>
</body>
</html>