<!-- <nav class="nav dark">
    <div>
        <a href="/session" class="btn">Home</a>
        <a href="/session/add" class="btn">Share Story</a>
        <a href="/" class="btn">Log Out</a>
    </div>
</nav> -->

<div class="header dark">
    <h1>Community Experience</h1>
    <div>
        <a href="/session" class="btn">Home</a>
        <a href="/session/add" class="btn">Share Story</a>
        <a href="/" class="btn logout">Log Out</a>
    </div>
</div>