<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Community Experience</title>

    <%- include('./partials/header.ejs') %>
</head>
<body class="home">
    
        <div class="home-box">
            <div class="flex-row">
                <h1>Welcome to the Experience</h1>
            </div>
            
            <div class="login">
                <div class="flex-col login-info">
                    <h3>Explor and Discover</h3>
                    <p>Find out what is going on in your town by exploring the stories and experiences of the community around you!</p>
                </div>
                
                <nav class="flex-row">
                    <div class="flex-row">
                        <a href="/session/new" class="btn">Login</a>
                    </div>
                    <div class="flex-row">
                        <a href="/users/new" class="btn">Sign Up</a>
                    </div>
                </nav>
            </div>
        </div>

</body>
</html>