<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Community Experience</title>
</head>
<body>
    <h1>Welcome</h1>

    <form action="/" method="POST">
        <!-- name -->
        <div>
            <div>
                <p>Name:</p>
            </div>
            <div>
                <input type="text" name="name">
            </div>
        </div>
        <!-- place -->
        <div>
            <div>
                <p>Places:</p>
            </div>
            <div>
                <input type="text" name="location">
            </div>
        </div>
        <!-- People -->
        <div>
            <div>
                <p>Friends:</p>
            </div>
            <div>
                <input type="text" name="friends">
            </div>
        </div>
        <!-- Activites -->
        <div>
            <div>
                Activites:
            </div>
            <div>
                <input type="text" name="activities">
            </div>
        </div>

        <input type="submit" value="Share Experience">

    </form>
</body>
</html>