<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <%- include('../partials/header.ejs')%>
</head>

<body>
    <div class="sign-up dark">
        <!-- Title -->
        <div class="half half-decor">
            <h1>Sign Up Account</h1>
            <p>Sign up below with your username and password to create a new account! (Don't worry, this is totally
                private and I won't be sharing it with my class.... too much)</p>
                <br>
            <a href="/" class="btn">Return Home</a>
        </div>


        <div class="half dark">
            <form action="/users" method="POST">
                <!-- name -->
                <div class="flex-row">
                    <div class="half">
                        <p>Username:</p>
                    </div>
                    <div class="half">
                        <input type="text" name="username">
                    </div>
                </div>
                <!-- place -->
                <div class="flex-row">
                    <div class="half">
                        <p>Password:</p>
                    </div>
                    <div class="half">
                        <input type="text" name="password">
                    </div>
                    <input type="submit" value="Login">
                </div>
                <!--End  -->
            </form>
        </div>


    </div>
</body>

</html>