<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>

<body>
    <!-- Title -->
    <div class="title">
        <h1>New Users</h1>
    </div>

    <div class="flex-col">


        <form action="/" method="POST">
            <!-- name -->
            <div>
                <div>
                    <p>Name:</p>
                </div>
                <div>
                    <input type="text" name="name">
                </div>
            </div>
            <!-- place -->
            <div>
                <div>
                    <p>Places:</p>
                </div>
                <div>
                    <input type="text" name="location">
                </div>
            </div>
            <!-- People -->
            <div>
                <div>
                    <p>Friends:</p>
                </div>
                <div>
                    <input type="text" name="friends">
                </div>
            </div>
            <!-- Activites -->
            <div>
                <div>
                    Activites:
                </div>
                <div>
                    <input type="text" name="activities">
                </div>
            </div>
    
            <input type="submit" value="Share Experience">
    
        </form>

    </div>

    <!--  -->
    <div>

    </div>
    
</body>

</html>